    <div class="row post-box">
        <div class="col-sm-1 score justify-content-center align-items-center">
            <span class="center vote-count" data-bind="text:score"></span>
        </div>
        <div class="col-sm-11">
            <div data-bind="html:body"></div>
        </div>
</div>
<div class="row">
        <div class="col-sm-12">
                <table class="comment" data-bind="foreach: comments">
                    <tr style="border-top:1px solid lightgrey;">
                        <td>
                            <span data-bind="text:score"></span>&nbsp;&nbsp;
                        </td>
                        <td>
                            <span data-bind="html:text"> </span>
                        </td>
                        <td>
                            <span data-bind="text:userName"></span>
                        </td>
                        <td>
                            <span data-bind="text:creationDate"></span>
                        </td>
                    </tr>
                </table>
        </div>
</div>

<style>
    .vote-count {
        font-size: 2rem;
    } 
    table {
        max-width: 80%;
        float: right;
    }
</style>