    <div class="row post-box">
        <div class="col-sm-10">
            <div data-bind="html:body"></div>
            </div>
        <div class="col-sm-2 score justify-content-center align-items-center">
            <span class="center vote-count" data-bind="text:score"></span>
        </div>
     </div>
<div class="row">
        <div class="col-sm-10">
                <table class="comment" data-bind="foreach: comments">
                    <tr>
                        <td>
                            <span data-bind="text:score"></span>
                        </td>
                        <td>
                            <span data-bind="html:text"> </span>
                        </td>
                        <td>
                            <span data-bind="text:userName"></span>
                        </td>
                        <td>
                            <span data-bind="text:creationDate"></span>
                        </td>
                    </tr>
                </table>
        </div>
</div>