<!--<div class="postView">
    <div data-bind=" component: { name: 'post-question', params:{body:qBody,comments:qComments,notes:qNotes,score:qScore,userName:qUserName,tags:qTags,title:qTitle} }"></div>
    <div data-bind="foreach:answerData">
        <div data-bind="component: { name: 'post-answer', params:{body:body,comments:comments,notes:notes,score:score,userName:userName} }"></div>
    </div>
</div>-->


<div class="postView">
    <div class="row">
            <div class="col-md-12">
                <div class="question">
                    <div class="question-title">
                        <h2 data-bind="text: qTitle"></h2>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                <span data-bind="text: qScore"></span>
                            <i class="fa fa-sort-desc" aria-hidden="true"></i>            
                        </div>
                        <div class="col-md-11">
                            <div data-bind="html: qBody"></div>

                            <!-- question -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div data-bind="foreach: qTags">
                                        <span class="badge badge-secondary" data-bind="text: tag"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            Asked by <b><span data-bind="text: qUserName"></span></b> on
                                            <span class="card-text" data-bind="text: qCreationDate"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- comments -->
                            <br />
                            <hr />
                            <div data-bind="foreach: qComments">
                                <p data-bind="html: text"></p>
                                <span data-bind="style: { color: score > 10 ? 'orange' : 'grey' }, text: score"></span>&nbsp;
                                <span data-bind="text: userName"></span>
                                <hr />
                            </div>

                            <!-- answers -->
                            <h3><span data-bind="text: countAnswers"></span>&nbsp;<span>Answers</span></h3>
                            <div data-bind="foreach:answerData">
                                <div data-bind="component: { name: 'post-answer', params:{body:body,comments:comments,notes:notes,score:score,userName:userName, answerID: $parent.acceptedAnswer, id:id } }"></div>
                                <hr />
                            </div>

                        </div>
                    </div>                  
                </div>

            </div>

    </div>
</div>

<style>
    pre {
        background: #f2f2f2;
        padding: 2%;
        overflow-y: scroll;
        max-height: 400px;
    }
</style>