<div class="row" data-bind="template: { name: 'single-result'}">

</div>

<script type="text/html" id="single-result">
    <div class="col-sm-12 single-result">
        <div class="row">
            <div class="col-sm-2 score justify-content-center align-items-center">
                <span class="center vote-count">12</span>
            </div>
            <div class="col-sm-8">
                <section>
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna al</p>
                </section>

            </div>
            <div class="col-sm-2">
                <span>Asked on :date</span>
                <span>:name</span>
            </div>

        </div>
    </div>
</script>