<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-bind="value: 'dd'">
        <div class="btn btn-outline-success my-2 my-sm-0" data-bind="click:startSearch"><i class="fas fa-search"></i></div>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" data-bind="foreach: menuItems">
            <li class="nav-item active" data-bind="text: $data, 
                   css: { selected: $data == $root.pageId() },
                   click: $root.goToPage">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            
        </ul>
    </div>
</nav>